@font-face {
    font-family: fira-bold;
    src: url("../../fira-sans/FiraSans-Bold.otf") format("opentype");
}
@font-face {
    font-family: fira-book;
    src: url("../../fira-sans/FiraSans-Book.otf") format("opentype");
}
@font-face {
    font-family: fira-extralight;
    src: url("../../fira-sans/FiraSans-ExtraLight.otf") format("opentype");
}