.signin {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.signin .signin_cover {
  display: flex;
  height: 100%;
}

.signin .signin_cover .signin_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.signin .signin_cover .signin_left .signin_left_cover {
  width: 60%;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_title {
  margin-bottom: 65px;
  text-align: center;
  color: #1a1047;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_title h1 {
  font-size: 50px;
  font-family: fira-bold;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_username, .signin .signin_cover .signin_left .signin_left_cover .signin_pass {
  position: relative;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_username svg, .signin .signin_cover .signin_left .signin_left_cover .signin_pass svg {
  width: 25px;
  height: 25px;
  position: absolute;
  fill: white;
  left: 15px;
  top: 21px;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_username input, .signin .signin_cover .signin_left .signin_left_cover .signin_pass input {
  margin: 15px 0;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: gainsboro;
  padding-left: 50px;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_username input::placeholder, .signin .signin_cover .signin_left .signin_left_cover .signin_pass input::placeholder {
  color: white;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_username input:focus-visible, .signin .signin_cover .signin_left .signin_left_cover .signin_pass input:focus-visible {
  outline: none;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_q {
  padding: 0 10px;
}

.signin .signin_cover .signin_left .signin_left_cover .signin_q input {
  margin-right: 10px;
}

.signin .signin_cover .signin_left .signin_left_cover .login {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.signin .signin_cover .signin_left .signin_left_cover .login a {
  background: linear-gradient(#2e0c6a, #1a1047);
  width: 70%;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin .signin_cover .signin_img {
  width: 60%;
  height: 100%;
  background-image: url("../../img/social-media-engagement-isometric-3d-concept-vector-23012535.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fira-book;
}

header,
footer,
section,
aside,
nav,
main,
article,
figure {
  display: block;
}

div {
  display: block;
}

@font-face {
  font-family: fira-bold;
  src: url("../../fira-sans/FiraSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: fira-book;
  src: url("../../fira-sans/FiraSans-Book.otf") format("opentype");
}

@font-face {
  font-family: fira-extralight;
  src: url("../../fira-sans/FiraSans-ExtraLight.otf") format("opentype");
}
/*# sourceMappingURL=main.css.map */