.chat-cover {
    .chat {
        position: fixed;
        bottom:0;
        top: 0;
        left:0%;
        right: 0;
        width: 50%;
        margin: auto;
        height:100%;
        .chat-content {
            padding: 0 25px;
            width: 100%;
            height: 80%;
            overflow: scroll;
            .chat-right {
                margin: 10px 0;
                display: flex;
                justify-content: flex-end;
            }
            .chat-left {
                margin: 10px 0;
                display: flex;
                justify-content: flex-start;
            }
            p {
                background: #e4e1e1;
                border-radius: 17px;
                padding: 5px 15px;
            }
        }
        .chat-input {
            position: absolute;
            bottom: 5%;
            left: 0;
            right: 0;
            .input-mess {
                position: relative;

                input {
                    outline: none ;
                    padding-left: 15px;
                    border-radius: 20px;
                    border: none;
                    background: #e5e1e1;
                    width: 90%;
                    height: 40px;
                }

                button {
                    cursor: pointer;
                    transition: all .2s;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    top: 1px;
                    margin-left: 10px;
                    position: absolute;
                    border: none;
                    background: none;

                    svg {
                        font-size: 25px;
                    }

                    &:hover {
                        background: #e4e1e1;
                    }
                }
            }
        }
    }
}